body {
    background-color: #1e1e1e;
  }
  
  .favoritos-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .favoritos-lista h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f4f4f4;
  }
  
  .favoritos-lista ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .favoritos-lista li {
    display: flex;
    align-items: center;
    background-color: #2b2b2b;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .favoritos-lista li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .favoritos-lista li span {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    color: #f4f4f4;
  }
  
  .favoritos-lista li button {
    background-color: #010101;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .favoritos-lista li button:hover {
    background-color: #782cd5;
  }
  